:root {
      --primary-gradient: linear-gradient(90deg, rgb(131, 218, 111) 0%, rgb(23, 250, 255) 48.6486%, rgb(83, 171, 248) 100%);
      --font-heading: "IBM Plex Mono", monospace;
      --font-body: "IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
      --button-gradient: linear-gradient(135deg, #0cffd2 11%, rgb(23, 250, 255) 51.35%, rgb(0, 191, 255) 100%);
      --font-line-spacing:30px;
    }
    body{
        padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .network-container {
      font-family: var(--font-body);
      background-color: rgba(5,17,24,255);
    }

    .hero-section {
      position: relative;
      height: 100vh;
      width: 100%;
      background-image: url('https://framerusercontent.com/images/Zu1hNmUyYGddesDZPYWO3bHL2I.png?scale-down-to=2048');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .hero-section::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .hero-section::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10%;
      background: rgb(0, 0, 0);
      z-index: 2;
    }

    .hero-content {
      position: relative;
      z-index: 3;
      color: white;
      text-align: center;
      padding: 0 20%;
      max-width: 80%;
    }

    .hero-content h1 {
      font-size: clamp(1.5rem, 5vw, 3.5rem); /* Dynamically scales between 1.5rem and 3.5rem */
      margin-bottom: 20px;
      font-family: var(--font-heading);
    }
    
    .network-content-section {
  position: relative;
  background-color: rgba(5,17,24,255);
  padding: 5% 10%;
  z-index: 3;
  margin-top: -20px; /* To slightly overlap with hero-section */
}

.network-content-section p {
  font-size: clamp(1.2rem, 4vw, 2.5rem);
}
.network-content-section h1,h2{
  font-family: var(--font-heading);
  color: azure;
}
.network-content-section h1 {
  font-family: var(--font-heading);
  background: var(--primary-gradient); /* Apply the gradient */
  -webkit-background-clip: text; /* Ensures gradient is clipped to text */
  -webkit-text-fill-color: transparent; /* Make text color transparent to show the gradient */
}

.network-content-section p{
  font-family: var(--font-body);
  font-size: large;
  color: azure;
  line-height: var(--font-line-spacing);
}

.proven-container p{
    font-family: var(--font-body);
    background-color: rgba(5,17,24,255);
}


.logo-card {
    background-color: #121e26;
    border-radius: 15px;
    width: 180px; /* Increased width */
    height: 80px; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(73, 247, 67, 0.2);
    position: relative;
    margin: 10px; /* Added margin for spacing between cards */
    transition: transform 0.3s ease-in-out;

  }
  .logo-card:hover {
    transform: scale(1.05); /* Zoom the card by 5% */
}
  .logo-card img {
    max-height: 70%;
    max-width: 70%;
  }

  .flag {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }

  .desc-row1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-left: 30px;
    padding-right: 30px;
    
  }
  .desc-row5{
      display: flex;
      flex-direction: row;
      padding-left: 400px;
      padding-right: 30px;
  }
  .logo-card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    border: 1px solid rgba(73, 247, 67, 0.2); /* Green border */
    padding: 2px;
    box-shadow: 0 0 10px rgba(73, 247, 67, 0.3);
  }
  

  .outer-cols{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(5,17,24,255);
  }


  .feature-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 cards per row */
    padding: 50px;
    gap: 50px; /* Space between the cards */
    max-width: 1200px;
    margin: 0 auto;

}

.card-container {
    position: relative;
    background-color: #40404014;
    border: 0.2px solid rgb(104, 168, 8);
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    color: #D5EBD1;
    transition: transform 0.3s ease-in-out;
}

.card-container:hover {
    transform: scale(1.05); /* Zoom the card by 5% */
}

.icon-circle {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: #7FE194;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-circle img {
    width: 60%;
    height: 60%;
}

.card-content {
    margin-top: 50px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.4;
}

.card-content p {
    margin: 0;
    padding: 0;
}
.benefit-container h1 {
            font-size: 1.1rem;
            margin-bottom: 20px;
            background: linear-gradient(180deg, #17c03c, #14dcff);
            -webkit-background-clip: text;
            
            font-weight: 50;
            padding-left: 40px;
        }
        .benefit-card-wrapper {
            position: relative;
            width: 300px; /* Adjusted width for three cards in a row */
            height: 650px;
            background-color: #27262673;
            border: 0.2px solid rgb(104, 168, 8);
            border-radius: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
            margin: 10px; /* Reduced the margin between cards */
            padding: 40px;
            color: #D5EBD1;
            transition: transform 0.3s ease-in-out;
            display: inline-block; /* Ensure cards are inline */
            vertical-align: top; /* Align the top of cards */
        }
        .benefit-card-wrapper:hover {
            transform: scale(1.05); /* Zoom the card by 5% */
        }
        .benefit-icon-circle {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            background-color: #7FE194;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .benefit-icon-circle img {
            width: 60%;
            height: 60%;
        }
        .benefit-card-content {
            margin-top: 50px;
            font-size: 1.2rem;
            font-weight: 200;
            line-height: 1.4;
        }
        .benefit-card-content p {
            margin: 0;
            padding: 0;
        }
        .benefit-card-container{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 10px;
          max-width: 1200px;
          margin: 0 auto;
        }
        .benefit-heading {
            font-size: 1.8rem;
            margin-bottom: 20px;
            background: linear-gradient(180deg, #17c03c, #14dcff);
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 50;
            text-align: left;
        }
        .benefit-client-wrapper {
            padding-top: 40px;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
        .benefit-client-images {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 70px;
        }

        .client-container {
        padding-top: 40px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .client-heading {
        font-size: 1.8rem;
        margin-bottom: 20px;
        background: linear-gradient(180deg, #17c03c, #14dcff);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 50;
        text-align: left;
    }

    .client-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 70px;
    }

    hr {
      width: 900px;
      margin: 20px auto;
      border-color: #888484;
    }

    .location-container {
            padding-top:100px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 80%;
            margin: 50px auto;
            gap: 40px;
        }

        .outer-loc {
            width: 100%;
        }

        .location-details {
            font-size: 1rem;
            color: rgba(0, 255, 170, 0.9);
            flex: 1;
        }

        .location-details ul {
            list-style: none;
            padding: 0;
        }

        .location-details li {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-size: 1rem;
        }

        .location-details li img {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }

        .contact-form {
            padding: 30px;
            border-radius: 10px;
            width: 400px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            flex: 1;
        }

        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            background-color: #10171d;
            color: #fff;
        }

        li {
            color: white;
        }

        .contact-form input[type="submit"] {
            background: linear-gradient(90deg, #00eaff, #00ffaa);
            border: none;
            color: #000;
            cursor: pointer;
            font-size: 1.1rem;
            padding: 12px;
            transition: 0.3s ease;
        }

        .contact-form input[type="submit"]:hover {
            opacity: 0.8;
        }

        @media (max-width:1000px) {
          .desc-row1{
            display: grid;
            grid-template-columns: repeat(4,1fr);
          }
          .benefit-card-container{
            grid-template-columns: repeat(2,1fr);
          }
          
        }
        @media (max-width:800px) {
          .desc-row1{
            grid-template-columns: repeat(3,1fr);
          }
          
        }
        @media (max-width:750px) {
          .desc-row1{
            display: grid;
            grid-template-columns: repeat(2,1fr);
          }
          .feature-column{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            max-width: 700px;
            margin: 0 auto;
          }
          .benefit-card-container{
            grid-template-columns: repeat(1,1fr);
            margin-left: 80px;
          }
          .benefit-card-wrapper{
            height: max-content;
          }
          
        }
        @media (max-width:480px) {
            body{
                overflow-x: hidden;
              }
              
              .network-content-section h2{
                font-size: small;
                font-weight: 100;
              }
              .network-content-section h1{
                font-size: small    ;
              }
              .network-content-section p{
                font-size: small;
                line-height: 20px;
              }
              .request-button {
                padding-right: 20px;
                background-image: var(--button-gradient); 
            }
            
            .desc-row1{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                margin-left: 40px;
            }
            .desc-row5{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .feature-column {
                display: grid;
                grid-template-columns: repeat(1, 1fr); /* 4 cards per row */
                gap: 50px; /* Space between the cards */
                padding: 70px 100px;
            
            }
            .benefit-card-container{
              grid-template-columns: repeat(1,1fr);
            }
            .benefit-card-wrapper{
              height: max-content;
            }
            .location-container{
              display: flex;
              flex-direction: column;
            }
            .contact-form {
              width: 100%;
              padding: 15px;
          }
      
          .contact-form input,
          .contact-form textarea {
              padding: 6px;
              font-size: 0.9rem;
          }
      
          .contact-form input[type="submit"] {
              font-size: 0.9rem;
              padding: 8px;
          }
        }
